<h1> Stupid Coahing </h1>

<div>
  <h2>Hello sir!</h2>

  <h2 id = "user talk"><%= params[:answer]%><br></h2>

  <p><em>-You</em></p>

</div>

<div>
  <h2><%=@answer%></h2>

  <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
